*{
    margin: 1px 1px;
    padding: 0px;
    box-sizing: border-box;
}

/*programacion de toda la seccion header*/
.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 136, 241);
    position:relative
    /*
    background:url(Img/cielo.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    */

}
/*programacion de la seccion "Menu" de hader*/
.menu{
    display: flex;
    flex-direction: row;
    
}
.header .menu {
    background: rgba(0,0,0,.1);
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255,1);
}

/*seccion logo de "Menu"*/
.menu .logo{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    
}
    a img{
        width: 100px;
        border-radius: 50px;
        padding:2px;

    }
.menu .osito{
    flex: 1 1 auto;
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    
}
.osito p{
    padding-top: 20px;
    color: white;
}