a img{
        width: 200px;
        border-radius: 80px;
        padding:2px;
}

.contenedor_todo{
    background-color: rgb(222, 136, 241) ;
    margin: 110px;
    border-radius: 20px;
    padding: 20px;
}

.caja_trasera-Login, .caja_trasera-Registro{
    text-align: center;
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

